* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;

}

.button-header {

    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;


}

.image-logo {
    width: 500px;
    height: 432px;
    margin-left: 125px;
    display: inline-block;

}

section {
    margin-left: 86px;
    display: inline-block;
}


h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;

}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;

}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;

}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

}


@media screen and (max-width: 600px) {

    header {
        display: none;
    }

    p {
        display: none;
    }

    h1 {
        width: 263px;
        height: 52px;
        font-size: 50px;
        font-weight: 900;
        line-height: 60.95px;
        text-align: center;
    }

    h2 {
        width: 232px;
        height: 37px;
        font-size: 30px;
        font-weight: 500;
        line-height: 36.57px;
        text-align: center;



    }

    img {
        width: 354px;
        height: 317px;
        max-width: 90%;
        position: static;


    }


}